<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    привет {{ name }}
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam a mollitia nulla repellendus quidem vero illo adipisci nobis! Explicabo amet quaerat ut sequi optio mollitia molestias doloremque eos ab quos.
    </h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero placeat eaque cumque? Et itaque perferendis omnis. Dolorem animi beatae natus odio delectus quod quisquam id totam, maiores quibusdam alias explicabo.</h2>
</body>
</html>